site_name: WJEC Copyediting Results
site_url: https://h-arnold.github.io/WjecDocumentScraper/
docs_dir: docs
site_dir: site

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy
    - toc.integrate 

  palette:

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

nav:
  - Home: index.md
  - Methodology: 
      - Methodology: methodology.md
      - Issue Categories: issue_categories.md
  - Data: data.md
  - Notebooks:
      - Overview: notebooks/index.md
      - Data overview: notebooks/data_overview.ipynb

plugins:
  - search
  - mkdocs-jupyter:
      execute: false
      include_source: true
      show_input: false

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - tables
