site_name: WJEC Copyediting Results
site_url: https://h-arnold.github.io/WjecDocumentScraper/
docs_dir: docs
site_dir: site

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy

nav:
  - Home: index.md
  - Methodology: methodology.md
  - Data: data.md
  - Notebooks:
      - Overview: notebooks/index.md
      - Data overview: notebooks/data_overview.ipynb

plugins:
  - search
  - mkdocs-jupyter:
      execute: false
      include_source: true

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - tables
