@import "tailwindcss";

@theme {
  --color-brand: #009fe3;
  --color-brand-dark: #005980;
  --color-brand-text: #2e3638;
  --color-brand-light: #f0f9ff;
  
  --color-accent: #e65000;
  --color-accent-pink: #e6007e;

  --font-sans: "Open Sans", system-ui, sans-serif;
  --font-heading: "Montserrat", sans-serif;
}
